<div class="container">
<div class="after-nav clearfix">
	<div class="chiclets">
	
	
		<div class="chiclet tweet"><a href="https://twitter.com/intent/tweet?text=Check%20out%20the%20@BastardsBook%20of%20Photography,%20an%20open-source%20visual%20guide%20to%20taking%20photos%20http%3A%2F%2Fphotography.bastardsbook.com&via=dancow">Tweet this</a></div>

		<div class="chiclet tweet"><a href="https://twitter.com/intent/user?screen_name=dancow">Follow @dancow</a></div>
		
		<div class="fb-like chiclet" style="margin-top: 1px;" data-send="false" data-layout="button_count" data-width="20" data-show-faces="false"></div>
    

	</div>



	
	</div>
</div>
</div>